<div class="row">
  <p>Bank account of <%= @account.user.name %></p>
  <dl>
    <dt>Balance</dt>
    <dd><%= @account.balance %></dd>
  </dl>
</div>

<div class="row">
  <%= render @account.transactions %>
</div>
